body
{
	background-color: powderblue;
}

#container
{
	width: 1400px;
	margin-left: auto;
	margin-right: auto;
}

#logo
{
	width: 1200px;
	background-color: gray;
	color: white;
	padding: 10px;
	float: left;
	text-indent: 530px;
	
}

#info
{
	width: 180px;
	height: 100px;
	background-color: gray;
	color: white;
	text-align: center;
	float: right;
}

#nav
{
	clear: both;
	text-align: center;
	font-weight: bold;
	background-color: green;
}

#content
{
	text-align: justify;
	padding: 10px;
}

#footer
{

	background-color: gray;
	color: white;
	text-align: center;
}

a:link
{
	color: black;
}

a:visited
{
	color: black;
}

a:hover
{
	color: green;
}

span
{
	background-color: #d5f4e6;
}



.text-block {
	width:200px;
	border:2px solid rgba(71,236,30,1);
	background: rgba(71,236,30,0.7);
	text-align: center;
	color:#000;
	padding:20px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}